{% load static %}
<div class="eventos">
    <h1>Eventos de interés</h1>
    <a id="new_event_btn" class="ui secondary button">
        Nuevo evento
    </a>
    {%for event in events%}
    <div class="evento">
        <h2 class="cursor_hand"><i class="hand point right icon"></i>{{event.title}}</h2>
        <span class="cursor_hand"><i class="ui map marker alternate icon"></i> {{event.lugar}}</span>
        <p class="cursor_hand">{{event.description}}</p>
        <div class="img_eventContainer cursor_hand">
            <img src="{{ event.image.url }}" alt="">
        </div>      
    </div>
    {%endfor%}

</div>