{% load static %}
<div class="eventos">
    <h1>Tus eventos</h1>
    <a id="new_event_btn" class="ui secondary button">
        Nuevo evento
    </a>
    
    {%for event in events%}
    {% if event.user_id == user.id %}
    <div class="evento">

        <div class="main_event">
            <div class="ui icon top left dropdown button">
                <i class="ellipsis horizontal icon"></i>
                <div class="menu">
                  <div class="item" onclick="modalEditEvent( {{event.id}} )"><a>Editar evento</a></div>
                  <div class="item default"><a href="{% url 'borrar_evento' event.id %}">Eliminar evento</a></div>
                </div>
            </div>
        </div> 
        <h2 class="cursor_hand"><i class="hand point right icon"></i>{{event.title}}</h2>
        <span class="cursor_hand"><i class="ui map marker alternate icon"></i>{{event.lugar}}</span>
        <p class="cursor_hand">{{event.description}}</p>
        <div class="img_eventContainer cursor_hand">
            <img class="post_img" onclick="modalEditEvent( {{event.id}} )" src="{% if event.image %}{{ event.image.url }}{% endif %}" alt="">
        </div>      
    </div>
    {% endif %}
    {%endfor%}
    <h1>Eventos de interés</h1>
    {%for event in events%}
    {% if event.user_id != user.id %}
    <div class="evento">
        <h2 class="cursor_hand"><i class="hand point right icon"></i>{{event.title}}</h2>
        <span class="cursor_hand"><i class="ui map marker alternate icon"></i> {{event.lugar}}</span>
        <p class="cursor_hand">{{event.description}}</p>
        <div class="img_eventContainer cursor_hand">
            <img class="post_img" src="{% if event.image %}{{ event.image.url }}{% endif %}" alt="">
        </div>      
    </div>
    {% endif %}
    {%endfor%}
</div>


