<aside class="aside">
    <div class="ui inverted vertical menu">
        <a class="active item">
            <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">
                    Inicio
                </font>
            </font>
        </a>
        <a class="item">
            <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">
                    Eventos
                </font>
            </font>
            <div class="ui label">
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">51</font>
                </font>
            </div>
        </a>
        <a class="item">
            <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">
                    Grupos
                </font>
            </font>
            <i class="ui users icon"></i>
            
        </a>
        <a class="item">
            <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">
                    Amigos
                </font>
            </font>
            <i class="ui user icon"></i>
            
        </a>
    </div>
</aside>