{% load static %}
<div class="ui inverted segment">
  <div class="ui inverted secondary menu">
    <div class="left item">
      <a href="{%url 'home'%}"><img id="logo" src="{% static 'img/logo2.png' %}"></a>
    </div>
    <div class="item header_search">
      <div class="ui inverted transparent icon input"
        style="cursor: pointer; border: 1px solid #757575; padding: 10px; border-radius: 25px; width:500px">
        <input type="text" placeholder="Buscar..." id="input_busqueda_top">
        <i class="search icon" id="search_icon"></i>
      </div>
    </div>

    {% if user.is_authenticated %}
    <div class="right item">
        <div class="ui inline dropdown">
          <div class="text">
            <img class="ui avatar image avatar_main" src="{{picture}}">
          </div>
          <br>
          <div class="menu">
            <div class="item">
              <img class="ui avatar image avatar_main_display" src="{{picture}}">
              <span class="white_cl">{{name}}</span>
            </div>
            <hr style="max-width: 97%;">
            <div class="item">
              <i class="ui user icon white_cl"></i>
              <span class="white_cl">Amigos</span>
            </div>
            <div class="item">
              <i class="ui users icon white_cl"></i>
              <span class="white_cl">Grupos</span>
            </div>
            <div class="item">
              <div class="ui label white_cl">
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">51</font>
                </font>
              </div>
              <span class="white_cl">Eventos</span>
            </div>
            <a href="{% url 'account_logout' %}" class="item">
              <i class="sign-out icon white_cl"></i>
              <span class="white_cl">Salir</span>
            </a>
          </div>
        </div>
    </div>
    {% else %}
    <div class="right item">
      <a class="item" id="login-btn">
        Inicia sesión
      </a>
      <a class="item active" id="registro-btn">
        Registrarse
      </a>
    </div>
    {% endif %}

  </div>
</div>
