{% load static %}
<div class="ui inverted menu header">
    <div class="item">
        <img id="logo" src="{% static 'img/logo2.png' %}">
    </div>
    
    <div class="menu">
      <div class="item">
        <div class="ui icon input">
          <input type="text" placeholder="Buscar...">
          <i class="search link icon"></i>
        </div>
      </div>
      <a class="ui right item"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
        Cerrar sesión
      </font></font></a>
    </div>
  </div>