{% load static %}
<div class="ui inverted segment">
  <div class="ui inverted secondary menu">
    <div class="left item">
      <img id="logo" src="{% static 'img/logo2.png' %}">
    </div>
  <div class="item" style="margin: auto;">
    <div class="ui inverted transparent icon input" style="border: 1px solid #757575; padding: 10px; border-radius: 25px; width:500px">
      <input type="text" placeholder="Buscar...">
      <i class="search icon" style="color: #96AE51; margin-right: 10px;"></i>
    </div>
  </div>
  <div class="right item">
    <a class="item">
      Inicia sesión
    </a>
    <a class="item active">
      Registrarse
    </a>
  </div>
    
  </div>
</div>