{% load static %}
{% if 'http://localhost:8000/login/?next=' in request.build_absolute_uri %}
{% include '../base.html' %}
<div style="height: 100px;"></div>
{% endif %}

<div class="formulario evento">
    <div class="ui card">
        <div class="content">
            <i class="right floated close icon event cursor_hand"></i>
            <div class="header">Crear evento</div>
        </div>
        <div class="image">
            <img id="imgToPus_event" class="cursor_hand post_img" src="{%static 'img/upload_image_default.jpg'%}">
            <button type="button" id="posicionado_sobre_imagen" class="ui button"></button>
        </div>
        <div class="organizer">
            <img class="ui avatar image avatar_event_display" src="{%static 'img/profile_default.jpg'%}">
            <div>
                <span class="orange_main_cl">{{user.username}}</span>
                <p class="gray_contrast_trans_cl">Organizador del evento</p>
            </div>
        </div>
        <form class="ui form event_input" action="{% url 'new_event' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="field big inverted input">
                <input type="file" accept="image/*" id="inputOculto_event" name="image" style="display: none;">
                <input type="text" name="title" placeholder="Nombre del evento" required>
            </div>
            <div class="field big inverted input">
                <input type="text" name="lugar" placeholder="Lugar del evento" required>
            </div>
            <div class="two fields">
                <div class="field">
                    <input type="date" name="fecha" placeholder="Fecha de inicio" required>
                </div>
                <div class="field">
                    <input type="time" name="hora" placeholder="Hora de inicio" required>
                </div>
            </div>
            <div class="field big inverted input descripcion">
                <textarea name="description" id="" cols="30" rows="5" placeholder="Descripción del evento"
                    required></textarea>
            </div>
            <div class="extra content">
                <div class="publish__down">
                    <button type="submit" class="fluid ui orange_main_bg orange_main_trans_bg_hv button">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">Publicar</font>
                        </font>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<script src="{% static 'js/modals.js'%}"></script>