<div class="post">
    <form method="post" action="{% url 'newpost' %}" enctype="multipart/form-data">
        <div class="publish">    
            {% csrf_token %}
            <div class="ui big inverted input post_input">
                <input type="text" name="descripcion" placeholder="¿En que estas pensando?">
                <i class='ui images icon' id="boton-disparador"></i>
            </div>
            <div id="div_img_to_push" class="show_img_to_push">
                <img id="img_to_pus" src="" alt="Imagen a publicar">
            </div>
            <hr style="max-width: 97%;">
            <div class="publish__down">
                <input type="file" accept="image/*" name="image" style="display: none;" id="inputOculto">
                <button class="fluid ui green_main_bg button"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Publicar</font></font></button>
            </div>
        </div>
    </form>

    {% for post in posts%}
    <div class="ui card">
        <div class="content">
          <div class="right floated meta">14h</div>
          <img class="ui avatar image" src="/images/avatar/large/elliot.jpg"> {{ post.user.username }}
        </div>
        <div>
            {{ post.descripcion }}
        </div>
        {% if post.image %}
            <div class="image">
                <img src="{{ post.image.url }}" alt="">
            </div>
        {% endif %}
        <div class="content">
          <span class="right floated">
            <i class="heart outline like icon"></i>
            17 likes
          </span>
          <i class="comment icon"></i>
          3 comments
        </div>
        <div class="extra content">
          <div class="ui large transparent left icon input">
            <i class="heart outline icon"></i>
            <input type="text" placeholder="Add Comment...">
          </div>
        </div>
      </div>
    {% endfor %}
</div>