{% load static %}
<div class="formulario cuenta">
  <i class="close icon cursor_hand" style="float: right;"></i>
  <div class="formulario cuenta">
    <div class="logo-completo top-margin max">
      <h1>oneSport</h1><img src="{% static 'img/logo.png' %}" alt="">
    </div>
    <form action="{% url 'account_signup' %}" method="post">
      {% csrf_token %}
      <div class="formulario-interno left">
        <div class="field ui inverted transparent icon input input-line">
          <input type="text" name="username" placeholder="Nombre de usuario" autocomplete="off">
        </div>
        <div class="field ui inverted transparent icon input input-line">
          <input type="email" name="email" placeholder="Correo electronico" autocomplete="off">
        </div>
        <div class="field ui inverted transparent icon input input-line">
          <input type="password" name="password1" placeholder="Contraseña">
        </div>
        <div class="field ui inverted transparent icon input input-line">
          <input type="password" name="password2" placeholder="Confirmación de contraseña">
        </div>
      </div>
      <div class="contenedor-ui-checkbox">
        <div class="ui checkbox">
          <input type="checkbox" name="example">
          <label>Recordar siempre</label>
        </div>
        <div class="formulario-interno center top-margin">
          <button class="ui green-e button top-margin bottom-margin">Registrarse</button><br>
          <span class="top-margin bottom-margin">Ya tienes cuenta? <a href="#" onclick="inicioSesion()">Inicia sesion</a></span>
          <a href="accounts/google/login/?process=login" rel="noopener" target="_blank" windowname="Login oneSport Google"><button type="button" class="ui green-e button top-margin max-margin-bottom ">Registrate con Google<i class="google icon"></i></button></a><br>
        </div>
      </form>
    </div>
  </div>
</div>