{% load static %}
<div class="formulario cuenta">
  <i class="close icon" style="float: right;"></i>
  <div class="formulario cuenta">
    <div class="logo-completo top-margin max">
      <h1>oneSport</h1><img src="{% static 'img/logo.png' %}" alt="">
    </div>
    <form action="" method="post">
      {% csrf_token %}
      <div class="formulario-interno left">
        <div class="field ui inverted transparent icon input input-line first">
          <input type="text" name="login" placeholder="Usuario">
        </div>
        <div class="field ui inverted transparent icon input input-line">
          <input type="password" name="password" placeholder="Usuario">
        </div>
      </div>
      <div class="contenedor-ui-checkbox">
        <div class="ui checkbox">
          <input type="checkbox" name="example">
          <label>Recordar siempre</label>
        </div>
        <div class="formulario-interno center top-margin">
          <button class="ui green-e button top-margin bottom-margin">Ingresar</button><br>
          <span class="top-margin bottom-margin">¿No tienes cuenta? Registrate <a href="#">aqui</a></span>
          <a href="accounts/google/login/?process=login"><button type="button" class="ui green-e button top-margin max-margin-bottom ">Registrate con Google<i class="google icon"></i></button></a><br>
        </div>
      </form>
    </div>
  </div>
</div>