{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/semantic.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="shortcut icon" href="{% static 'img/logo.png'%}" type="image/x-icon">
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
    {% include "layouts/partials/menu.html" %}
    {% block container %}
      
    {% endblock container %}
</body>
<script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
<script src="{% static 'js/semantic.js' %}"></script>