:root {
    --color-gray-backgorund: #191919;
    --color-gray-contrast: #9e9e9e;
    --color-gray-contrast-two: #3d3e3f;
    --color-gray-contrast-three: #272829;
    --color-main-green: #96ae51;
    --color-trans-green: #96ae5126;
    --color-greenish-grey-contrast:   #44453b;
    --color-greenish-grey-placeholder: #b9c1bc;
}

/*COLORES*/
.green_main_cl{
    color: var(--color-main-green)!important;
}
.green_main_bg{
    background: var(--color-main-green)!important;
    color: white!important;
}
.white_cl{
  color: white !important;
}
.gray_contrast_cl{
  color: var(--color-gray-contrast) !important;
}
/*FIN COLORES*/

/*DECORADORES Y ELEMENTOS*/
.cursor_hand{
  cursor: pointer !important;
}

hr {
    height: 1px; /* Ajusta la altura deseada */
    border: none; /* Elimina el borde predeterminado */
    background-color: var(--color-gray-contrast-two); /* Cambia el color de la línea según tus preferencias */
}

#logo{
    width: 80%;
    margin-left: 30px;
}

#boton-disparador {
    font-size: 2em;
    margin: 14px;
    color: var(--color-main-green);
    width: auto;
    cursor: pointer;
}

.show_img_to_push{
    display: none;
}

.show_img_to_push img{
    width: 100%;
    border-radius: 10px;
}

.username_card_post{
  font-size: 1.3em;
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
  color: white;
}

.description_card_post{
  padding: 1em;
  color: white;
}

/*FIN DECORADORES Y ELEMENTOS*/


/*STYLES REPLACED OF SEMANTIC*/
.ui.teal.labels .label, .ui.teal.label {
    background-color: #96ae51 !important;
    border-color: #96ae51 !important;
    color: #FFFFFF !important;
    --color-cream-green: #96AE51;
}

.ui.inverted.menu .teal.active.item, .ui.inverted.teal.menu {
    background-color: var(--color-gray-contrast);
}

.avatar{
  cursor: pointer;
}

.ui.cards > .card, .ui.card {
  background: var(--color-gray-contrast-three)!important;
  box-shadow: none !important;
  border-radius: 10px !important;
}

.ui.cards > .card > .extra, .ui.card > .extra {
  border-top: 1px solid #96ae5126 !important;
}

.ui.menu {
  display: grid;
  grid-template-columns: 25% 50% 25%;
}

/*FIN STYLES REPLACED OF SEMANTIC*/

/*SECCIONES*/
body{
    background-color: var(--color-gray-backgorund);
}

.section_main{
    display: grid;
    grid-template-columns: 25% 50% 25%;
}

.header{
    height: 100px;
    border: 1px solid var(--color-gray-contrast) !important;
}

.header_search{
  margin: auto !important;
  width: 100% !important;
  justify-content: center !important;
  padding-right: 110px !important;
  padding-left: 50px !important;
}

.aside{
    margin-top: 10% !important;
    padding-left: 15%;
}

.post{
  margin-top: 5% !important;
  padding-right: 110px;
  padding-left: 50px;
}

.post_input{
    width: 100%;
}

.post_input input{
    background-color: var(--color-gray-contrast-two)!important;
    margin-bottom: 20px!important;
}

.publish{
    background-color: var(--color-gray-contrast-three);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 50px !important;
}
/*FIN SECCIONES*/




.ui.inverted.segment, .ui.primary.inverted.segment {
    background: #191919;
    color: rgba(255, 255, 255, 0.9);
}

.ui.secondary.inverted.menu .active.item {
    background: var(--color-main-green);
    color: #ffffff !important;
    border-radius: 25px;
}

.ui.inverted.menu .item, .ui.inverted.menu .item > a:not(.ui) {
    background: transparent;
    border-radius: 25px;
    color: rgba(255, 255, 255, 0.9);
}

/********************************************/
/*        Estilos Login y Registro          */
/********************************************/

.formulario.cuenta {
    max-width: 400px !important;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--color-greenish-grey-contrast);
    border-radius: 35px;
    padding-top: 5px;
  }
  
  .formulario.cuenta > div.logo-completo{
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    margin-bottom: 50px;
  }
  
  .formulario.cuenta img {
    width: 40px;
  }
  
  .formulario.cuenta h1 {
    color: white;
    margin-top: auto;
    margin-bottom: auto;
  }
  .formulario-interno.center{
    text-align: center;
  }
  .formulario-interno.left{
    text-align: left;
  }
  .formulario-interno{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .input-line {
    border-bottom: 2px solid var(--color-greenish-grey-placeholder);
    padding-bottom: 5px;
    margin-bottom: 20px;
    width: 100%;
    color: var(--color-greenish-grey-placeholder);
    font-family: DejaVu Sans;
    font-size: larger;
  }
  
  .input-line.first{
    margin-bottom: 60px;
  }
  .contenedor-ui-checkbox {
    text-align: center;
  }
  .ui.checkbox{
    width: 80%;
    margin-left: auto!important;
    margin-right: auto!important;
  }
  
  .ui.checkbox label{
    color: var(--color-greenish-grey-placeholder);
    font-family: DejaVu Sans;
    text-align: left!important;
  }
  .ui.checkbox label:hover{
    color: var(--color-greenish-grey-placeholder)!important;
  }
  .top-margin{
    margin-top: 15px!important;
    &.max{margin-top: 60px!important;}
  }
  .bottom-margin{
    margin-bottom: 15px!important;
    &.max{margin-bottom: 60px!important;}
  }
  .max-margin-bottom {
    margin-bottom: 60px!important;
  }
  .formulario-interno{
    text-align: center;
  }
  .formulario-interno button{
    margin-top: 60px;
    margin-right: 40%;
    margin-bottom: 30px;
  }
  
  .formulario-interno span{
    color: white;
  }
  .formulario-interno span a {
    color:  #96a951;
  }  
 .close.icon{
    margin-top: 20px;
    margin-right: 20px!important;
 }
 .google.icon{
    margin-left: 10px!important;
 }

 .evento{
  background: var(--color-gray-contrast-three);
  padding: 1em;
  max-width: 83%;
  border-radius: 10px;
 }

 .eventos{
  margin-top: 10% !important;
 }

 .eventos h1{
  color: var(--color-main-green);
 }

 .eventos a{
  background: var(--color-gray-contrast-three)!important;
  border-radius: 25px !important;
  margin-bottom: 20px !important;
 }

 .eventos a:hover{
  background: var(--color-main-green)!important;
 }

 .evento h2{
    color: var(--color-gray-contrast);
 }

 .evento p{
  color: white;
}
 
 .img_eventContainer img{
    max-width: 250px;
    border-radius: 10px;
    width: 100%;
 }