:root {
    --color-gray-backgorund: #191919;
    --color-gray-contrast: #757575;
    --color-cream-green: #96AE51;
}

body{
    background-color: var(--color-gray-backgorund);
}
.section_main{
    display: grid;
    grid-template-columns: 33% 33% 34%;
}

.header{
    height: 100px;
    border: 1px solid var(--color-gray-contrast) !important;
}

#logo{
    width: 80%;
    margin-left: 30px;
}

.menu_nav{
    padding-top: 40px;
    display: inline-grid;
    width: 100%;
    padding-left: 60px;
}

.menu_nav a{
    margin-top: 40px;
    font-family: 'DejaVu Sans', sans-serif;
    font-size: 1.1em;
    text-decoration: none;
    color: var(--color-gray-contrast);
}


.ui.inverted.segment, .ui.primary.inverted.segment {
    background: #191919;
    color: rgba(255, 255, 255, 0.9);
}

.ui.secondary.inverted.menu .active.item {
    background: var(--color-cream-green);
    color: #ffffff !important;
    border-radius: 25px;
}

.ui.inverted.menu .item, .ui.inverted.menu .item > a:not(.ui) {
    background: transparent;
    border-radius: 25px;
    color: rgba(255, 255, 255, 0.9);
}

