{% extends "layouts/base.html" %}
{% load static %}
{% block title %}One Sport{% endblock title %}
{% block container %}
<section class="section_main">
    {% include "layouts/partials/menu_left.html" %}
    {% include "layouts/partials/post.html" %}
    
    <div class="eventos">
        <h1>Eventos de interés</h1>

        <div class="evento">
            <h2>Evento de ejemplo</h2>
            <div class="img_eventContainer">
                <img src="https://picsum.photos/700/400?random" alt="">
            </div>      
        </div>

        <div class="evento">
            <h2>Evento de ejemplo</h2>
            <div class="img_eventContainer">
                <img src="https://picsum.photos/700/400?random" alt="">
            </div>      
        </div>

        <div class="evento">
            <h2>Evento de ejemplo</h2>
            <div class="img_eventContainer">
                <img src="https://picsum.photos/700/400?random" alt="">
            </div>      
        </div>

        <div class="evento">
            <h2>Evento de ejemplo</h2>
            <div class="img_eventContainer">
                <img src="https://picsum.photos/700/400?random" alt="">
            </div>      
        </div>
    </div>
</section>
{% endblock container %}