{% extends "layouts/base.html" %}
{% load static %}
{% block title %}One Sport{% endblock title %}
{% block container %}
<section>
    <aside>
        <div class="menu_nav">
            <a href="{% url 'home' %}"> <h1>Inicio</h1></a>
            <a href=""><h1>Eventos</h1></a>
            <a href=""><h1>Configuracion</h1></a>
            <a href=""><h1>Mi perfil</h1></a>
        </div>
        
        <form method="post" action="{% url 'newpost' %}" enctype="multipart/form-data">
            <div class="publish">    
                {% csrf_token %}
                <input name="descripcion" type="text" placeholder="¿En que estas pensando?">
                <div class="publish__down">
                    <i class='bx bxs-image' id="boton-disparador"></i>
                    <input type="file" accept="image/*" name="image" style="display: none;" id="inputOculto">
                    <button>
                        Publicar
                    </button>
                </div>
            </form>
        </div>
    </aside>
    
    <div class="publicaciones">
        {% for post in posts%}
            <div class="publicacion">
                <div class="publi__title">
                    <h1>{{ post.user.username }}</h1>
                    <button>Seguir</button>
                </div>
                <h1 class="description__publi">{{ post.descripcion }}</h1>
                {% if post.image %}
                <div class="img-contenedor">
                    <img src="{{ post.image.url }}" alt="">
                </div>
                {% endif %}
                <div class="likes_container">
                    <div class="like_cont">
                        <i class='bx bx-like' ></i>
                        <h2>5</h2>
                    </div>
                    <div class="comment_cont">
                        <i class='bx bxs-comment' ></i>
                        <h2>3</h2>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="eventos">
        <h1>Eventos de interés</h1>

        <div class="evento">
            <h2>Evento de ejemplo</h2>
            <div class="img_eventContainer">
                <img src="https://picsum.photos/700/400?random" alt="">
            </div>      
        </div>

        <div class="evento">
            <h2>Evento de ejemplo</h2>
            <div class="img_eventContainer">
                <img src="https://picsum.photos/700/400?random" alt="">
            </div>      
        </div>

        <div class="evento">
            <h2>Evento de ejemplo</h2>
            <div class="img_eventContainer">
                <img src="https://picsum.photos/700/400?random" alt="">
            </div>      
        </div>

        <div class="evento">
            <h2>Evento de ejemplo</h2>
            <div class="img_eventContainer">
                <img src="https://picsum.photos/700/400?random" alt="">
            </div>      
        </div>
    </div>
</section>
{% endblock container %}