<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800&display=swap"
        rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/styles.css">
    <title>OneSport</title>
</head>

<body>
    <header>
        <a href="/index.html">
            <div class="logo">
                <h1>OneSport</h1>
                <img src="/images/logo.png" alt="">
            </div>
        </a>
        <div class="searchBar">
            <input placeholder="Explora temas">
            <i class='bx bx-search'></i>
        </div>
        <div class="signUp">
            <a href="/login.html">
                <div class="signUp__title sign1">
                    <h2>Iniciar sesión</h2>
                </div>
            </a>
            <a href="/registro.html">
                <div class="signUp__title sign2">
                    <h2>Registrarse</h2>
                </div>
            </a>
        </div>
    </header>

    <hr class="border1">

    <section>
        <aside>
            <div class="menu_nav">
                <a href=""> <h1>Inicio</h1></a>
                <a href=""><h1>Eventos</h1></a>
                <a href=""><h1>Configuracion</h1></a>
                <a href=""><h1>Mi perfil</h1></a>
            </div>

            <div class="publish">
                <input type="text" placeholder="¿En que estas pensando?">
                <div class="publish__down">
                    <i class='bx bxs-image' ></i>
                    <button>
                        Publicar
                    </button>
                </div>
            </div>
        </aside>
        <div class="publicaciones">
            <div class="publicacion">
                <div class="publi__title">
                    <h1>Persona X</h1>
                    <button>Seguir</button>
                </div>
                <h1 class="description__publi">Descripcion de la publicacion</h1>
                <div class="img-contenedor">
                    <img src="https://picsum.photos/700/400?random" alt="">
                </div>
                <div class="likes_container">
                    <div class="like_cont">
                        <i class='bx bx-like' ></i>
                        <h2>5</h2>
                    </div>
                    <div class="comment_cont">
                        <i class='bx bxs-comment' ></i>
                        <h2>3</h2>
                    </div>
                </div>
            </div>

            <div class="publicacion">
                <div class="publi__title">
                    <h1>Persona X</h1>
                    <button>Seguir</button>
                </div>
                <h1 class="description__publi">Descripcion de la publicacion</h1>
                <div class="img-contenedor">
                    <img src="https://picsum.photos/700/400?random" alt="">
                </div>
                <div class="likes_container">
                    <div class="like_cont">
                        <i class='bx bx-like' ></i>
                        <h2>5</h2>
                    </div>
                    <div class="comment_cont">
                        <i class='bx bxs-comment' ></i>
                        <h2>3</h2>
                    </div>
                </div>
            </div>

            <div class="publicacion">
                <div class="publi__title">
                    <h1>Persona X</h1>
                    <button>Seguir</button>
                </div>
                <h1 class="description__publi">Descripcion de la publicacion</h1>
                <div class="img-contenedor">
                    <img src="https://picsum.photos/700/400?random" alt="">
                </div>
                <div class="likes_container">
                    <div class="like_cont">
                        <i class='bx bx-like' ></i>
                        <h2>5</h2>
                    </div>
                    <div class="comment_cont">
                        <i class='bx bxs-comment' ></i>
                        <h2>3</h2>
                    </div>
                </div>
            </div>
        </div>


        <div class="eventos">
            <h1>Eventos de interés</h1>

            <div class="evento">
                <h2>Evento de ejemplo</h2>
                <div class="img_eventContainer">
                    <img src="https://picsum.photos/700/400?random" alt="">
                </div>      
            </div>

            <div class="evento">
                <h2>Evento de ejemplo</h2>
                <div class="img_eventContainer">
                    <img src="https://picsum.photos/700/400?random" alt="">
                </div>      
            </div>

            <div class="evento">
                <h2>Evento de ejemplo</h2>
                <div class="img_eventContainer">
                    <img src="https://picsum.photos/700/400?random" alt="">
                </div>      
            </div>

            <div class="evento">
                <h2>Evento de ejemplo</h2>
                <div class="img_eventContainer">
                    <img src="https://picsum.photos/700/400?random" alt="">
                </div>      
            </div>
        </div>

    </section>


    


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>

</html>